tr.dataset-metric(class=viewClasses)
    td.col-label(style="color: #{color};") #{label}
    td.col-source   #{source}
    td.col-time     #{timespan}
    td.col-actions
        a.delete-metric-button.close(href="#") &times;
        .activity-arrow: div.inner
    
