section.data-ui
    .row-fluid
        .dataset-controls.dropdown
            select(name="dataset")
                for datum, k in data
                    option(value=datum.url, name=datum.id) #{datum.name}
                
            //- 
                a.span3.dataset.dropdown-toggle(data-toggle="dropdown", data-target="#{graph_id} .dataset-dropdown", href="#dataset-dropdown") Select...
                ul.dropdown-menu
                    for datum, k in data
                        li: a(href="#", data-dataset="#{datum.id}") #{datum.name}
    
