- var id = model.id || model.cid
- var graph_id = view.id
section.graph.graph-edit(id=graph_id)
    form.details.form-horizontal
        
        .name-row.row-fluid.control-group
            //- label.name.control-label(for="#{id}_name"): h3 Graph Name
            input.span6.name(type='text', id="#{id}_name", name="name", placeholder='Graph Name', value=name)
        
        .row-fluid
            .viewport
            .graph-label
        
        .row-fluid
            .graph-settings.tabbable
                //- nav.navbar: div.navbar-inner: div.container
                nav
                    .graph-controls.pull-right
                        .btn-group
                            a.redraw-button.btn(href="#")
                                i.icon-refresh
                                |  Redraw
                        .btn-group
                            a.load-button.btn(href="#")
                                i.icon-download
                                |  Revert
                            a.save-button.btn(href="#")
                                i.icon-upload
                                |  Save
                            a.done-button.btn-primary.btn(href="#")
                                i.icon-ok-sign.icon-white
                                |  Done
                    ul.nav.subnav.nav-pills
                        li:         h3 Graph
                        li.active:  a(href="#graph-#{graph_id}-info", data-toggle="tab") Info
                        li:         a(href="#graph-#{graph_id}-data", data-toggle="tab") Data
                        li: a.graph-options-tab(href="#graph-#{graph_id}-options", data-toggle="tab") Options
                    
                
                .tab-content
                    .graph-info-pane.tab-pane.active(id="graph-#{graph_id}-info")
                        .row-fluid
                            .half.control-group
                                .control-group
                                    label.slug.control-label(for="#{id}_slug") Slug
                                    .controls
                                        input.span3.slug(type='text', id="#{id}_slug", name='slug', placeholder='graph_slug', value=slug)
                                        p.help-block The slug uniquely identifies this graph and will be displayed in the URL.
                                .control-group
                                    label.width.control-label(for="#{id}_width") Size
                                    .controls
                                        input.span1.width(type='text', id="#{id}_width", name='width', value=width)
                                        |  &times; 
                                        input.span1.height(type='text', id="#{id}_height", name='height', value=height)
                                        p.help-block Choosing 'auto' will size the graph to the viewport bounds.
                            .half.control-group
                                label.desc.control-label(for="#{id}_desc") Description
                                .controls
                                    //- textarea.span3.desc(id='desc', name='desc', placeholder='Graph description.') #{desc}
                                    <textarea class="span3 desc" id="#{id}_desc" name="desc" placeholder="Graph description.">#{desc}</textarea>
                                    p.help-block A description of the graph.
                    
                    .graph-data-pane.tab-pane(id="graph-#{graph_id}-data")
                        .row-fluid
                            label.dataset.control-label(for="#{id}_dataset") Data Set
                            .controls
                                input.span3.dataset(type='text', id="#{id}_dataset", name='dataset', placeholder='URL to dataset file', value=dataset)
                                p.help-block This dataset filename will soon be replaced by a friendly UI.
                    
                    .graph-options-pane.tab-pane(id="graph-#{graph_id}-options")

