include browser-helpers
- var option_id    = _.domize('option', id);
- var value_id     = _.domize('value', id);
- var category_cls = _.domize('category', model.getCategoryIndex()) + ' ' + _.domize('category', model.getCategory());
- var tags_cls     = tags.map(_.domize('tag')).join(' ');
- var type_cls     = _.domize('type', type); 

.field.option(id=option_id, class="#{category_cls} #{tags_cls}")
    a.close &times;
    
    //- h3.shortname #{_.shortname(name)}
    h3.shortname #{name}
    label.name(for=value_id) #{name}
    input.value(type="text", id=value_id, name=name, class=type_cls, value=value)
    
    .type(class=type_cls) #{type}
    .default(class=type_cls, title="Default: #{def} (#{type})") #{def}
    
    .desc
        != (jade.filters || {}).markdown(desc)
    
    //- .tags(data-toggle="collapse", data-target="##{option_id} .tags ul"): ul.collapse
    .tags
        for tag in tags
            span.tag(class=_.domize('tag', tag)+' '+_.domize('category', model.getTagIndex(tag))) #{tag}
            |  
    .examples(data-toggle="collapse", data-target="##{option_id} .examples ul"): ul.collapse
        for example in examples
            li.example
                a(href="http://dygraphs.com/tests/#{example}.html", target="_blank") #{example}
    
