- var graph_id = view.id || model.id || model.cid
section.graph-edit.graph(id=graph_id)
    
    .graph-name-row.graph-details.row-fluid.control-group
        input.span6.graph-name(type='text', id="#{graph_id}_name", name="name", placeholder='Graph Name', value=name)
    
    .graph-viewport-row.row-fluid
        .viewport
        .graph-legend
    
    .graph-settings-row.row-fluid
        .graph-settings.tabbable
            
            //--- Main Tabs ---//
            nav.graph-settings-nav
                .graph-controls.pull-right
                    .btn-group
                        a.redraw-button.btn(href="#")
                            i.icon-refresh
                            |  Redraw
                    .btn-group
                        a.load-button.btn(href="#")
                            i.icon-download
                            |  Revert
                        a.save-button.btn(href="#")
                            i.icon-upload
                            |  Save
                        a.done-button.btn-primary.btn(href="#")
                            i.icon-ok-sign.icon-white
                            |  Done
                ul.nav.subnav.nav-pills
                    li
                        .graph-spinner
                        h3 Graph
                    li.active:  a.graph-info-tab(href="##{graph_id}-tab-info", data-toggle="tab") Info
                    li:         a.graph-data-tab(href="##{graph_id}-tab-data", data-toggle="tab") Data
                    li:         a.graph-options-tab(href="##{graph_id}-tab-options", data-toggle="tab") Options
                .nav-shadow-shim
                .nav-shadow
            
            
            //--- Tab Panes ---//
            .graph-tab-content.tab-content
                .graph-info-pane.tab-pane.active(id="#{graph_id}-tab-info")
                    form.graph-details.form-horizontal
                        .row-fluid
                            .half.control-group
                                .control-group
                                    label.slug.control-label(for="#{graph_id}_slug") Slug
                                    .controls
                                        input.span3.slug(type='text', id="#{graph_id}_slug", name='slug', placeholder='graph_slug', value=slug)
                                        p.help-block The slug uniquely identifies this graph and will be displayed in the URL once saved.
                                .control-group
                                    label.width.control-label(for="#{graph_id}_width") Size
                                    .controls
                                        input.span1.width(type='text', id="#{graph_id}_width", name='width', value=width)
                                        |  &times; 
                                        input.span1.height(type='text', id="#{graph_id}_height", name='height', value=height)
                                        p.help-block Choosing 'auto' will size the graph to the viewport bounds.
                            .half.control-group
                                label.desc.control-label(for="#{graph_id}_desc") Description
                                .controls
                                    //- textarea.span3.desc(id='desc', name='desc', placeholder='Graph description.') #{desc}
                                    <textarea class="span3 desc" id="#{graph_id}_desc" name="desc" placeholder="Graph description.">#{desc}</textarea>
                                    p.help-block A description of the graph.
                
                .graph-data-pane.tab-pane(id="#{graph_id}-tab-data", data-subview="DataView")
                    //- 
                        .row-fluid
                            label.dataset.control-label(for="#{graph_id}_dataset") Data Set
                            input.span3.dataset(type='text', id="#{graph_id}_dataset", name='dataset', placeholder='URL to dataset file', value=dataset)
                            p.help-block This dataset filename will soon be replaced by a friendly UI.
                
                .graph-options-pane.tab-pane(id="#{graph_id}-tab-options", data-subview="ChartOptionScaffold")

