section.metric-edit-ui
    .inner: form.metric-edit-form.form-horizontal
        
        .metric-header.control-group
            //- 
                .color-swatch(style="background-color: #{color};")
                input.metric-color(type='hidden', id="#{graph_id}_metric", name="color", value=color)
            .color-swatch.input-append.color(data-color="#{color}", data-color-format="hex")
                input.metric-color(type='hidden', id="#{graph_id}_metric_color", name="color", value=color)
                span.add-on: i(style="background-color: #{color};")
            
            input.metric-label(type='text', id="#{graph_id}_metric_label", name='label', placeholder='#{placeholder_label}', value=label)
        
        .metric-datasource.control-group(data-subview="DataSourceUIView")
        
        .metric-actions.control-group
            a.delete-button.btn.btn-danger(href="#")
                i.icon-remove.icon-white
                |  Delete
        
        .metric-options.row-fluid
        