include ../browser-helpers
- var graph_id = view.id
section.graph-display.graph(id=graph_id)
    
    .graph-name-row.row-fluid
        .callout
            .latest-metric(data-bind='callout.latest') #{callout.latest}
            .metric-change.year-over-year
                span.dates(data-bind='callout.year.dates') #{callout.year.dates}
                span.value(data-bind='callout.year.value') #{callout.year.value}
            .metric-change.month-over-month
                span.dates(data-bind='callout.month.dates') #{callout.month.dates}
                span.value(data-bind='callout.month.value') #{callout.month.value}
        h2
            a.graph-name(href="#{model.toLink()}", data-bind='name', name="#{graph_id}") #{name}
    
    .graph-viewport-row.row-fluid(data-subview='ChartView')
    
    .graph-details-row.row
        .span7.offset3.ug.graph-desc(data-bind='desc')
            != jade.filters.markdown(desc)
    
    .graph-links-row.row
        .span6.offset3.ug.graph-permalink
            input.span6(value="#{model.toPermalink()}", readonly="readonly")
        if IS_DEV
            a.span1.export-button.btn(href="#")
                i.icon-file
                |  Export
    
    .graph-notes-row.row
        .span7.offset3.ug.graph-notes(data-bind='notes')
            != jade.filters.markdown(notes)
    

