include mixins/helpers

!!! html
html
    head
        link(type="image/ico", rel="icon", href="/favicon.ico")
        link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
        
        title Limn Unit Tests
        link(rel="stylesheet", href="/test/qunit/themes/qunit.css")
        link(rel="stylesheet", href="/test/qunit/theme-picker.css")
    
    body
        block body
            #qunit
        
        .scripts
            block scripts
                - var limn_config = { 'mount':mount, 'rev':version, 'env':NODE_ENV };
                script
                    var VERSION = !{ JSON.stringify(version)  };
                    var ENV     = !{ JSON.stringify(NODE_ENV) };
                    var IS_DEV = ENV === 'development', IS_PROD = ENV === 'production';
                    var limn_config = !{ JSON.stringify(limn_config) };
                
                block lib-scripts
                    for src in sources()
                        script(src=path.join(mount, src)+"?"+version)
                
                block page-scripts
                    script
                        var limn = require('limn');
                block main-scripts
            
        
        .tests
            script(src="/test/qunit/qunit.js")
            script(src="/test/qunit/theme-picker.js")
            script
                // any general qunit customizations
            
            block tests
                for test in tests()
                    script(src=path.join(mount, test)+"?"+version)
