
mixin text_field(name, value, opts)
    - opts      = opts || {}
    - value     = value || ''
    - var label = opts.label || _.humanize(name)
    - var id    = opts.id || _.underscored(name)
    
    .field
        label(for=id) #{label}
        input(id=id, name=name, type="text", value=value)



