include mixins/helpers

!!! html
html(lang="en", dir="ltr")
    head
        block head
            meta(http-equiv="content-type", content="text/html; charset=utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            
            block styles
                //- mixin css('reset.min.css')
                mixin css('/vendor/bootstrap/css/bootstrap.css')
                mixin css('/vendor/bootstrap/css/bootstrap.css', media='print')
                mixin css('layout.css')
                mixin css('layout.css', media='print')
                mixin css('hicons.css')
                
            
            link(type="image/ico", rel="icon", href="/favicon.ico")
            link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
            
            block title
                title Limn
    
    body
        block body
            
            section#content
                .inner
                    block content
            
            footer
                block footer
                    include footer
            
            .scripts
                block scripts
                    - var limn_config = { 'mount':mount, 'rev':version, 'env':NODE_ENV };
                    script
                        var VERSION = !{ JSON.stringify(version)  };
                        var ENV     = !{ JSON.stringify(NODE_ENV) };
                        var IS_DEV = ENV === 'development', IS_PROD = ENV === 'production';
                        var limn_config = !{ JSON.stringify(limn_config) };
                    
                    block lib-scripts
                        for src in sources(WWW+'/modules.yaml')
                            script(src=path.join(mount, src)+"?"+version)
                    
                    block page-scripts
                        script
                            var limn = require('limn/client');
                    block main-scripts
            
            block addenda
                .rilke: blockquote
                    p What we fight with is so small, and when we win, it makes us small.
                    p What we want is to be defeated, decisively, by successively greater things.
                    small Rainer Rilke
            

