- var graph_id = view.graph.id
section.line-chart-element-edit.chart-element-edit
    //- a.close(href='#') &times;
    button.close &times;
    .inner: form.line-chart-element-edit-form.form-horizontal
        .control-group
            label.data-source_id.control-label(for="#{graph_id}_#{model.cid}_data-source_id") data.source_id
            .controls
                input.data-source_id(type='text', id="#{graph_id}_#{model.cid}_data-source_id", name='data.source_id')
        .control-group
            label.data-source_col.control-label(for="#{graph_id}_#{model.cid}_data-source_col") data.source_col
            .controls
                input.data-source_col(type='text', id="#{graph_id}_#{model.cid}_data-source_col", name='data.source_col')
        
    

