- var ds = source.attributes
- var id = ds.id || source.cid
- var activeClass = (source_id === ds.id ? 'active' : '')
.datasource-source.tab-pane(class="datasource-source-#{id} #{activeClass}"): form.datasource-source-form
    .datasource-source-details.well
        .source-name #{ds.name}
        .source-id #{ds.id}
        .source-format #{ds.format}
        .source-charttype #{ds.chart.chartType}
        input.source-url(type="text", name="source-url", value=ds.url)
        .datasource-source-time
            .source-time-start #{ds.timespan.start}
            .source-time-end #{ds.timespan.end}
            .source-time-step #{ds.timespan.step}
    .datasource-source-metrics
        table.table.table-striped
            thead
                tr
                    th.source-metric-idx #
                    th.source-metric-label Label
                    th.source-metric-type Type
            tbody.source-metrics
                for m, idx in ds.metrics.slice(1)
                    - var activeColClass = (activeClass && source_col === m.idx) ? 'active' : ''
                    tr.datasource-source-metric(class=activeColClass)
                        td.source-metric-idx #{m.idx}
                        td.source-metric-label #{m.label}
                        td.source-metric-type #{m.type}
                    
