section.datasource-ui(class="datasource-ui-#{cid}"): form.datasource-ui-form
    
    section.datasource-summary(data-toggle="collapse", data-target="##{graph_id} .datasource-ui.datasource-ui-#{cid} .datasource-selector")
        i.expand-datasource-ui-button.icon-chevron-down
        i.collapse-datasource-ui-button.icon-chevron-up
        
        ul.breadcrumb
            li #{source_summary} 
                span.divider /
            li #{metric_summary} 
                span.divider /
            li #{timespan_summary}
    
    section.datasource-selector.collapse
        .datasource-tabs
            .tabbable.tabs-left
                ul.datasource-sources-list.nav.nav-tabs
                    li: h6 Data Sources
                    for source, k in datasources.models
                        - var ds = source.attributes
                        - var activeClass = (source_id === ds.id ? 'active' : '')
                        - var ds_target = "#"+graph_id+" .datasource-ui .datasource-selector .datasource-source.datasource-source-"+ds.id
                        li(class=activeClass): a(href="#datasource-selector_datasource-source-#{ds.id}", data-toggle="tab", data-target=ds_target) #{ds.shortName}
                
                .datasource-sources-info.tab-content
                    //- DataSourceViews attach here
                    for source, k in datasources.models
                        - var ds = source.attributes
                        - var activeClass = (source_id === ds.id ? 'active' : '')
                        .datasource-source.tab-pane(class="datasource-source-#{ds.id} #{activeClass}")
                            .datasource-source-details.well
                                .source-name #{ds.name}
                                .source-id #{ds.id}
                                .source-format #{ds.format}
                                .source-charttype #{ds.chart.chartType}
                                input.source-url(type="text", name="source-url", value=ds.url)
                                .datasource-source-time
                                    .source-time-start #{ds.timespan.start}
                                    .source-time-end #{ds.timespan.end}
                                    .source-time-step #{ds.timespan.step}
                            .datasource-source-metrics
                                table.table.table-striped
                                    thead
                                        tr
                                            th.source-metric-idx #
                                            th.source-metric-label Label
                                            th.source-metric-type Type
                                    tbody.source-metrics
                                        for m, idx in ds.metrics.slice(1)
                                            - var activeColClass = (activeClass && source_col === m.idx) ? 'active' : ''
                                            tr.datasource-source-metric(class=activeColClass, data-source_id=ds.id, data-source_col=m.idx)
                                                td.source-metric-idx #{m.idx}
                                                td.source-metric-label #{m.label}
                                                td.source-metric-type #{m.type}
                                            
