section#random.centered
    
    .row
        nav
            h3 Pieces of Random
                ul
                    //- TODO: why isn't name rendering with the other attributes
                    li: label
                        strong name: 
                        span(data-bind='name') #{name}
                    each v, a in model.attributes
                        li: label
                            strong #{a}: 
                            span(data-bind=a) #{v}
            a(href=model.toEditLink()) edit
